<%= form_with(model: medicalrecord) do |form| %>
  <% if medicalrecord.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(medicalrecord.errors.count, "error") %> prohibited this medicalrecord from being saved:</h2>

      <ul>
        <% medicalrecord.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :diagnostico, style: "display: block" %>
    <%= form.text_field :diagnostico %>
  </div>

  <div>
    <%= form.label :tratamiento, style: "display: block" %>
    <%= form.text_field :tratamiento %>
  </div>

  <div>
    <%= form.label :notas_relevantes, style: "display: block" %>
    <%= form.text_field :notas_relevantes %>
  </div>

  <div>
    <%= form.label :pet_id, style: "display: block" %>
    <%= form.text_field :pet_id %> - <%= form.text_field :pet_id %>
  </div>

  <div>
    <%= form.label :appoiment_id, style: "display: block" %>
    <%= form.text_field :appoiment_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
