<div id="<%= dom_id medicalrecord %>">
  <p>
    <strong>Diagnostico:</strong>
    <%= medicalrecord.diagnostico %>
  </p>

  <p>
    <strong>Tratamiento:</strong>
    <%= medicalrecord.tratamiento %>
  </p>

  <p>
    <strong>Notas relevantes:</strong>
    <%= medicalrecord.notas_relevantes %>
  </p>

  <p>
    <strong>Pet:</strong>
    <%= medicalrecord.pet_id %>
  </p>

  <p>
    <strong>Appoiment:</strong>
    <%= medicalrecord.appoiment_id %>
  </p>

</div>
