<%= form_with(model: pet) do |form| %>
  <% if pet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :especie, style: "display: block" %>
    <%= form.text_field :especie %>
  </div>

  <div>
    <%= form.label :raza, style: "display: block" %>
    <%= form.text_field :raza %>
  </div>

  <div>
    <%= form.label :fechanacimiento, style: "display: block" %>
    <%= form.text_field :fechanacimiento %>
  </div>

  <div>
    <%= form.label :notas, style: "display: block" %>
    <%= form.text_field :notas %>
  </div>

  <div>
    <%= form.label :client_id, style: "display: block" %>
    <select name="pet[client_id]" id="pet_client_id">
      <option value="-1" selected >Seleccione un dueño</option>
        <% @clients.each do |client| %>
          <option value="<%= client.id %>"> <%= client.id %> - <%= client.nombre %> <%= client.apellido %>  </option>
        <% end %>
    </select>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
