<div id="<%= dom_id pet %>">
  <p>
    <strong>Nombre:</strong>
    <%= pet.nombre %>
  </p>

  <p>
    <strong>Especie:</strong>
    <%= pet.especie %>
  </p>

  <p>
    <strong>Raza:</strong>
    <%= pet.raza %>
  </p>

  <p>
    <strong>Fechanacimiento:</strong>
    <%= pet.fechanacimiento %>
  </p>

  <p>
    <strong>Notas:</strong>
    <%= pet.notas %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= pet.client_id %>
  </p>

</div>
