<div id="<%= dom_id client %>">
  <p>
    <strong>Nombre:</strong>
    <%= client.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= client.apellido %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= client.direccion %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= client.telefono %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= client.correo %>
  </p>

</div>
