<div id="<%= dom_id appointment %>">
  <p>
    <strong>Fecha:</strong>
    <%= appointment.fecha %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= appointment.hora %>
  </p>

  <p>
    <strong>Duracion:</strong>
    <%= appointment.duracion %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= appointment.estado %>
  </p>

  <p>
    <strong>Vet:</strong>
    <%= appointment.vet_id %>
  </p>

  <p>
    <strong>Pet:</strong>
    <%= appointment.pet_id %>
  </p>

</div>
